name: Standard Concepts
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: intelligence-ai/jsonschema@v0.1.4
      - run: jsonschema fmt schemas --check --verbose
      - run: jsonschema lint schemas --verbose
